# {{ ansible_managed }}
{%  set settings = tpl_settings['php_fpm'] | ansible.builtin.default({}) %}

location ~ \.php$ {
{%  if settings['socket'] == 'socket' %}
    fastcgi_pass unix:{{ settings['socket'] }};
{% else %}
    fastcgi_pass {{ settings['tcp_host'] }}:{{ settings['tcp_port'] }};
{%  endif %}

    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
}