# {{ ansible_managed }}
{%  set settings = tpl_settings['hsts'] | ansible.builtin.default({}) %}
{%  set max_age = settings['max_age'] | ansible.builtin.default(31536000) %}
{%  set include_subdomains = settings['include_subdomains'] | ansible.builtin.default(true) %}
{%  set preload = settings['preload'] | ansible.builtin.default(false) %}

#### HSTS: HTTP Strict Transport Security

# HSTS is a HTTP header sent by a server to a client, indicating that the
# current site must only be accessed over HTTPS until expiration of the HSTS
# value is reached. Once a client has seen this header, it will refuse to
# connect over plain HTTP for the duration of "max-age" (currently set to
# {{ max_age }} seconds / ~{{ (max_age / 86400) | ansible.builtin.int }} days).
#
# ATTENTION: Once the HSTS header is sent to a client, HTTPS cannot be disabled
#            on the site until the client's HSTS record expires. Make sure all
#            clients have been migrated to HTTPS before enabling this snippet.
#
# "includeSubDomains" extends the policy to all subdomains. "preload" signals
# to browser vendors that the domain should be included in the HSTS Preload
# List (hardcoded into browsers). Preloading makes HSTS effective even on the
# very first visit, but it is practically irreversible - removal from the
# preload list takes months and clients with cached lists remain affected.
#
# References:
#
# - https://hstspreload.org/
# - https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security
# - https://wiki.mozilla.org/Security/Server_Side_TLS#HSTS:_HTTP_Strict_Transport_Security
# - https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Strict_Transport_Security_Cheat_Sheet.html
{% set hsts_value = 'max-age=' ~ max_age %}
{% if include_subdomains %}{% set hsts_value = hsts_value ~ '; includeSubDomains' %}{% endif %}
{% if preload %}{% set hsts_value = hsts_value ~ '; preload' %}{% endif %}
add_header Strict-Transport-Security "{{ hsts_value }}";
