{%- macro render_directive_line(directive, value, indent=4) -%}
{{ directive | ansible.builtin.trim | ansible.builtin.indent(indent, true, false) }} {{
    value | ternary('on', 'off')
    if value is ansible.builtin.boolean
    else ( value | ansible.builtin.string | ansible.builtin.trim ) }};
{%- endmacro -%}


{%- macro render_directives(config_block, baseline_manage, baseline_directives, indent=4) -%}
{%    if (config_block | ansible.builtin.length) > 0 %}
{{ config_block | ansible.builtin.string | ansible.builtin.trim | ansible.builtin.indent(indent, true, false) }}
{%    endif %}
{%    if baseline_manage == true %}
{%      for directive, value in (baseline_directives | default({})).items() %}
{%          if value is ansible.builtin.sequence and value is not string %}
{%            for item in value %}
{{ render_directive_line(directive, item, indent) }}
{%            endfor %}
{%          else %}
{{ render_directive_line(directive, value, indent) }}
{%          endif %}
{%-     endfor -%}
{%-   endif -%}
{%- endmacro -%}