{%- macro render_directive(directive, value, indent=4) -%}
{%-   set rendered_directive_value = (
        'on' if value is ansible.builtin.boolean and value
        else 'off' if value is ansible.builtin.boolean
        else (value | ansible.builtin.string | ansible.builtin.trim)
      ) -%}
{{ (directive | ansible.builtin.trim ~ ' ' ~ rendered_directive_value ~ ';')
    | ansible.builtin.indent(indent, true, false) }}
{%- endmacro -%}


{%- macro render_directives(config_block, baseline_manage, baseline_directives, indent=4) -%}
{%    if (config_block | ansible.builtin.length) > 0 %}
{{ config_block | ansible.builtin.string | ansible.builtin.trim | ansible.builtin.indent(indent, true, false) }}
{%-   endif -%}
{%    if baseline_manage == true %}
{%      for directive, value in (baseline_directives | default({})).items() %}
{%        if value is ansible.builtin.sequence and value is not string %}
{%          for item in value %}
{{- render_directive(directive, item, indent) }}
{%          endfor %}
{%        else %}
{{- render_directive(directive, value, indent) }}
{%        endif -%}
{%-     endfor -%}
{%-   endif -%}
{%- endmacro -%}